Repository getsentry/sentry-dotnet, pull requests merged in 2020-12, with the labels that each got.

#641 ref: rename CacheFlushTimeout to InitCacheFlushTimeout.
  CHANGELOG.md
  src/Sentry/Internal/SdkComposer.cs
  src/Sentry/SentryOptions.cs
  test/Sentry.Tests/SentrySdkTests.cs
Labels: enhancement

#633 Support performance
  CHANGELOG.md
  samples/Sentry.Samples.AspNetCore.Basic/Program.cs
  samples/Sentry.Samples.AspNetCore.Basic/Properties/launchSettings.json
  samples/Sentry.Samples.AspNetCore.Basic/Sentry.Samples.AspNetCore.Basic.csproj
  samples/Sentry.Samples.Console.Customized/Program.cs
  src/Sentry.AspNetCore/Extensions/HttpContextExtensions.cs
  src/Sentry.AspNetCore/ScopeExtensions.cs
  src/Sentry.AspNetCore/SentryMiddleware.cs
  src/Sentry.AspNetCore/SentryStartupFilter.cs
  src/Sentry/Extensibility/DisabledHub.cs
  src/Sentry/Extensibility/HubAdapter.cs
  src/Sentry/IHub.cs
  src/Sentry/ISentryClient.cs
  src/Sentry/ISentryTraceSampler.cs
  src/Sentry/Internal/Extensions/JsonExtensions.cs
  src/Sentry/Internal/Extensions/StringExtensions.cs
  src/Sentry/Internal/Hub.cs
  src/Sentry/Internal/MainSentryEventProcessor.cs
  src/Sentry/Internal/Polyfills.cs
  src/Sentry/Protocol/Context/Contexts.cs
  src/Sentry/Protocol/Context/Trace.cs
  src/Sentry/Protocol/Envelopes/Envelope.cs
  src/Sentry/Protocol/Envelopes/EnvelopeItem.cs
  src/Sentry/Protocol/IScope.cs
  src/Sentry/Protocol/ISpan.cs
  src/Sentry/Protocol/ISpanContext.cs
  src/Sentry/Protocol/SentryEvent.cs
  src/Sentry/Protocol/SentryId.cs
  src/Sentry/Protocol/SentryTraceHeader.cs
  src/Sentry/Protocol/Span.cs
  src/Sentry/Protocol/SpanId.cs
  src/Sentry/Protocol/SpanRecorder.cs
  src/Sentry/Protocol/SpanStatus.cs
  src/Sentry/Protocol/Transaction.cs
  src/Sentry/Scope.cs
  src/Sentry/ScopeExtensions.cs
  src/Sentry/SentryClient.cs
  src/Sentry/SentryOptions.cs
  src/Sentry/SentrySdk.cs
  src/Sentry/TraceSamplingContext.cs
  test/Sentry.AspNetCore.Tests/ScopeExtensionsTests.cs
  test/Sentry.AspNetCore.Tests/SentryMiddlewareTests.cs
  test/Sentry.Tests/HubTests.cs
  test/Sentry.Tests/Protocol/BaseScopeTests.cs
  test/Sentry.Tests/Protocol/Envelopes/EnvelopeTests.cs
  test/Sentry.Tests/Protocol/ScopeExtensionsTests.cs
  test/Sentry.Tests/Protocol/SentryEventTests.cs
  test/Sentry.Tests/Protocol/SentryIdTests.cs
  test/Sentry.Tests/Protocol/TransactionTests.cs
  test/Sentry.Tests/SentryClientTests.cs
Labels: Sentry, enhancement

#659 Align transaction names with Java
  CHANGELOG.md
  src/Sentry.AspNetCore/Extensions/HttpContextExtensions.cs
  src/Sentry.AspNetCore/ScopeExtensions.cs
  src/Sentry.AspNetCore/SentryMiddleware.cs
  test/Sentry.AspNetCore.Tests/ScopeExtensionsTests.cs
Labels: Sentry, enhancement

#662 Include parameters in stack frames
  CHANGELOG.md
  src/Sentry/Extensibility/SentryStackTraceFactory.cs
  test/Sentry.Tests/Internals/MonoSentryStackTraceFactoryTests.cs
  test/Sentry.Tests/Internals/SentryStackTraceFactoryTests.cs
Labels: enhancement

#679 Embed PDBs
  src/Directory.Build.props
Labels: Repository maintenance, Sentry

#681 Include Sentry.AspNet SDK info in events
  CHANGELOG.md
  src/Sentry.AspNet/Internal/SystemWebRequestEventProcessor.cs
Labels: ASP.NET

#683 Improve logging for relay errors
  CHANGELOG.md
  src/Sentry/Internal/Http/HttpTransport.cs
  test/Sentry.Testing/SentryResponses.cs
  test/Sentry.Tests/Internals/Http/HttpTransportTests.cs
Labels: Sentry, enhancement

#670 Attachments
  CHANGELOG.md
  samples/Sentry.Samples.AspNetCore.Mvc/Sentry.Samples.AspNetCore.Mvc.csproj
  samples/Sentry.Samples.Console.Customized/Program.cs
  src/Sentry.AspNetCore.Grpc/ScopeExtensions.cs
  src/Sentry.AspNetCore/ScopeExtensions.cs
  src/Sentry.NLog/SentryTarget.cs
  src/Sentry/Extensibility/DisabledHub.cs
  src/Sentry/Internal/Hub.cs
  src/Sentry/Internal/Polyfills.cs
  src/Sentry/Protocol/Attachment.cs
  src/Sentry/Protocol/DefaultSentryScopeStateProcessor.cs
  src/Sentry/Protocol/Envelopes/Envelope.cs
  src/Sentry/Protocol/Envelopes/EnvelopeItem.cs
  src/Sentry/Protocol/IEventLike.cs
  src/Sentry/Protocol/IScopeOptions.cs
  src/Sentry/Protocol/ISentryScopeStateProcessor.cs
  src/Sentry/Protocol/SentryEvent.cs
  src/Sentry/Protocol/SentryId.cs
  src/Sentry/Protocol/SpanId.cs
  src/Sentry/Protocol/Transaction.cs
  src/Sentry/Scope.cs
  src/Sentry/ScopeExtensions.cs
  src/Sentry/SentryClient.cs
  src/Sentry/SentryOptions.cs
  test/Sentry.AspNetCore.Tests/SentryMiddlewareTests.cs
  test/Sentry.NLog.Tests/SentryTargetTests.cs
  test/Sentry.Serilog.Tests/SentrySinkTests.cs
  test/Sentry.Tests/Helpers/Reflection/AssemblyExtensions.cs
  test/Sentry.Tests/Internals/AccessModifierTests.cs
  test/Sentry.Tests/Protocol/BaseScopeTests.cs
  test/Sentry.Tests/Protocol/Envelopes/EnvelopeTests.cs
  test/Sentry.Tests/Protocol/ScopeExtensionsTests.cs
  test/Sentry.Tests/Protocol/TransactionTests.cs
  test/Sentry.Tests/SentryClientTests.cs
Labels: Sentry

#685 ref: fix summary for CacheDirectoryPath.
  src/Sentry/SentryOptions.cs
Labels: enhancement

#682 Include assembly name in default release
  CHANGELOG.md
  src/Sentry/Internal/ApplicationVersionLocator.cs
  test/Sentry.Tests/Internals/ApplicationVersionLocatorTests.cs
  test/Sentry.Tests/Internals/ReleaseLocatorTests.cs
Labels: Sentry, Xamarin, enhancement

#695 Always send a default release
  CHANGELOG.md
  src/Sentry/Internal/ApplicationVersionLocator.cs
  test/Sentry.Tests/Internals/ApplicationVersionLocatorTests.cs
Labels: Sentry, enhancement

#690 ref: Handle non json error response messages.
  CHANGELOG.md
  src/Sentry/Internal/Http/HttpTransport.cs
  test/Sentry.Testing/SentryResponses.cs
  test/Sentry.Tests/Internals/Http/HttpTransportTests.cs
Labels: enhancement

#680 Inject changelog into release notes
  src/Directory.Build.props
Labels: Repository maintenance, Sentry

#702 Fix Windows CI/CD
  build.ps1
Labels: Repository maintenance
