Repository getsentry/sentry-dotnet, pull requests merged in 2020-10, with the labels that each got.

#540 Rename LogEntry to SentryMessage
  CHANGELOG.md
  samples/Sentry.Samples.Console.Customized/Program.cs
  src/Sentry.Extensions.Logging/SentryLogger.cs
  src/Sentry.NLog/SentryTarget.cs
  src/Sentry.Serilog/SentrySink.cs
  src/Sentry/Protocol/SentryEvent.cs
  src/Sentry/Protocol/SentryMessage.cs
  src/Sentry/SentryClientExtensions.cs
  test/Sentry.AspNetCore.Tests/IntegrationMockedBackgroundWorker.cs
  test/Sentry.Log4Net.Tests/SentryAppenderTests.cs
  test/Sentry.NLog.Tests/SentryTargetTests.cs
  test/Sentry.Serilog.Tests/SentrySinkTests.cs
  test/Sentry.Tests/Protocol/Exceptions/SentryExceptionTests.cs
  test/Sentry.Tests/Protocol/Exceptions/SentryStackFrameTests.cs
  test/Sentry.Tests/Protocol/Exceptions/SentryStackTraceTests.cs
  test/Sentry.Tests/Protocol/SentryEventTests.cs
  test/Sentry.Tests/Protocol/SentryMessageTests.cs
  test/Sentry.Tests/SentryClientExtensionsTests.cs
Labels: Sentry, enhancement

#542 Change type of Gpu.VendorId from int to string
  CHANGELOG.md
  src/Sentry/Protocol/Context/Gpu.cs
  test/Sentry.Tests/Protocol/Context/GpuTests.cs
Labels: Sentry, bug

#544 Envelopes
  CHANGELOG.md
  benchmarks/Sentry.Benchmarks/BackgroundWorkerFlushBenchmarks.cs
  src/Sentry/Extensibility/IBackgroundWorker.cs
  src/Sentry/Extensibility/ITransport.cs
  src/Sentry/Internal/BackgroundWorker.cs
  src/Sentry/Internal/Extensions/CollectionsExtensions.cs
  src/Sentry/Internal/Extensions/HttpClientExtensions.cs
  src/Sentry/Internal/Http/HttpTransport.cs
  src/Sentry/Internal/Http/SerializableHttpContent.cs
  src/Sentry/Internal/Json.cs
  src/Sentry/Internal/JsonSerializer.cs
  src/Sentry/Internal/Polyfills.cs
  src/Sentry/Protocol/BaseScopeExtensions.cs
  src/Sentry/Protocol/Context/Contexts.cs
  src/Sentry/Protocol/Envelope.cs
  src/Sentry/Protocol/EnvelopeItem.cs
  src/Sentry/Protocol/ISerializable.cs
  src/Sentry/Protocol/Request.cs
  src/Sentry/Protocol/SentryEvent.cs
  src/Sentry/Protocol/StreamSerializable.cs
  src/Sentry/Sentry.csproj
  src/Sentry/SentryClient.cs
  test/Directory.Build.props
  test/Sentry.AspNetCore.Tests/IntegrationMockedBackgroundWorker.cs
  test/Sentry.Testing/AccumulativeDiagnosticLogger.cs
  test/Sentry.Testing/SentryResponses.cs
  test/Sentry.Testing/SerializableExtensions.cs
  test/Sentry.Testing/StreamExtensions.cs
  test/Sentry.Tests/HubTests.cs
  test/Sentry.Tests/Internals/BackgroundWorkerTests.cs
  test/Sentry.Tests/Internals/Http/HttpTransportTests.cs
  test/Sentry.Tests/Protocol/EnvelopeTests.cs
  test/Sentry.Tests/SentryClientTests.cs
  test/Sentry.Tests/SentryLevelTests.cs
  test/Sentry.Tests/SentrySdkTests.cs
  test/xunit.runner.json
Labels: Sentry, enhancement

#554 ASPNET.Core default Environment settings are cleaned, if used.
  CHANGELOG.md
  src/Sentry.AspNetCore/Constants.cs
  src/Sentry.AspNetCore/SentryAspNetCoreOptionsSetup.cs
  src/Sentry/Internal/Constants.cs
  src/Sentry/Internal/MainSentryEventProcessor.cs
  test/Sentry.AspNetCore.Tests/SentryAspNetCoreOptionsSetupTests.cs
  test/Sentry.Tests/Internals/MainSentryEventProcessorTests.cs
Labels: hacktoberfest-accepted

#553 Envelope rate limits
  CHANGELOG.md
  src/Sentry/Internal/Http/HttpTransport.cs
  src/Sentry/Internal/Http/RateLimit.cs
  src/Sentry/Internal/Http/RateLimitCategory.cs
  src/Sentry/Protocol/EnvelopeItem.cs
  test/Sentry.Testing/EmptySerializable.cs
  test/Sentry.Testing/FakeHttpMessageHandler.cs
  test/Sentry.Testing/HttpClientExtensions.cs
  test/Sentry.Testing/SentryResponses.cs
  test/Sentry.Tests/Helpers/MockableHttpMessageHandler.cs
  test/Sentry.Tests/Internals/Http/HttpTransportTests.cs
  test/Sentry.Tests/Internals/Http/RateLimitCategoryTests.cs
  test/Sentry.Tests/Internals/Http/RateLimitTests.cs
Labels: Sentry, enhancement

#547 Fix callback signature BeforeSend
  CHANGELOG.md
  src/Sentry/Protocol/BaseScopeExtensions.cs
  src/Sentry/Protocol/IScopeOptions.cs
  src/Sentry/SentryOptions.cs
Labels: Sentry, enhancement, hacktoberfest-accepted

#558 Add support for envelope deserialization
  CHANGELOG.md
  src/Sentry/Internal/BackgroundWorker.cs
  src/Sentry/Internal/Extensions/DisposableExtensions.cs
  src/Sentry/Internal/Extensions/StreamExtensions.cs
  src/Sentry/Internal/Http/HttpTransport.cs
  src/Sentry/Internal/Json.cs
  src/Sentry/Internal/PartialStream.cs
  src/Sentry/Internal/Polyfills.cs
  src/Sentry/Internal/PooledBuffer.cs
  src/Sentry/Protocol/Envelope.cs
  src/Sentry/Protocol/EnvelopeItem.cs
  src/Sentry/Protocol/SentryEvent.cs
  src/Sentry/Protocol/SentryId.cs
  src/Sentry/Protocol/StreamSerializable.cs
  src/Sentry/Protocol/UserFeedback.cs
  src/Sentry/Sentry.csproj
  test/Sentry.Testing/StreamExtensions.cs
  test/Sentry.Tests/Internals/Http/HttpTransportTests.cs
  test/Sentry.Tests/Internals/PartialStreamTests.cs
  test/Sentry.Tests/Protocol/EnvelopeTests.cs
  test/Sentry.Tests/SentryClientTests.cs
Labels: Sentry, enhancement

#564 ValueTask instead of Task
  CHANGELOG.md
  benchmarks/Sentry.Benchmarks/BackgroundWorkerFlushBenchmarks.cs
  src/Sentry.NLog/SentryTarget.cs
  src/Sentry/Extensibility/DisabledHub.cs
  src/Sentry/Extensibility/HubAdapter.cs
  src/Sentry/Extensibility/IBackgroundWorker.cs
  src/Sentry/Extensibility/ITransport.cs
  src/Sentry/ISentryClient.cs
  src/Sentry/ISentryScopeManager.cs
  src/Sentry/Internal/BackgroundWorker.cs
  src/Sentry/Internal/Extensions/HttpClientExtensions.cs
  src/Sentry/Internal/Extensions/StreamExtensions.cs
  src/Sentry/Internal/Http/HttpTransport.cs
  src/Sentry/Internal/Hub.cs
  src/Sentry/Internal/Json.cs
  src/Sentry/Internal/SentryScopeManager.cs
  src/Sentry/Protocol/Envelope.cs
  src/Sentry/Protocol/EnvelopeItem.cs
  src/Sentry/Protocol/ISerializable.cs
  src/Sentry/Protocol/SentryEvent.cs
  src/Sentry/Protocol/StreamSerializable.cs
  src/Sentry/Protocol/UserFeedback.cs
  src/Sentry/SentryClient.cs
  src/Sentry/SentrySdk.cs
  test/Sentry.Testing/EmptySerializable.cs
  test/Sentry.Tests/Extensibility/DisabledHubTests.cs
  test/Sentry.Tests/Extensibility/HubAdapterTests.cs
  test/Sentry.Tests/HubTests.cs
  test/Sentry.Tests/Internals/OptionalHubTests.cs
  test/Sentry.Tests/Internals/SentryScopeManagerTests.cs
  test/Sentry.Tests/SentrySdkTests.cs
Labels: Sentry, enhancement
