Repository getsentry/sentry-dotnet, pull requests merged in 2021-02, with the labels that each got.

#782 Add GetSpan() to IHub and SentrySdk
  CHANGELOG.md
  src/Sentry/Extensibility/DisabledHub.cs
  src/Sentry/Extensibility/HubAdapter.cs
  src/Sentry/IHub.cs
  src/Sentry/Internal/Hub.cs
  src/Sentry/SentrySdk.cs
  test/Sentry.AspNetCore.Tests/SentryTracingMiddlewareTests.cs
Labels: Sentry, enhancement

#784 Automatically inject 'sentry-trace' on outgoing requests in ASP.NET Core
  CHANGELOG.md
  src/Sentry.AspNetCore/Extensions/DependencyInjection/ServiceCollectionExtensions.cs
  src/Sentry.AspNetCore/SentryHttpMessageHandlerBuilderFilter.cs
  src/Sentry/Internal/SdkComposer.cs
  src/Sentry/SentryHttpMessageHandler.cs
  src/Sentry/SentryOptions.cs
  test/Sentry.AspNetCore.Tests/SentryHttpMessageHandlerBuilderFilterTests.cs
  test/Sentry.Testing/FakeHttpClientHandler.cs
  test/Sentry.Testing/FakeHttpMessageHandler.cs
  test/Sentry.Testing/RecordingHttpMessageHandler.cs
  test/Sentry.Tests/Internals/Http/HttpTransportTests.cs
  test/Sentry.Tests/SentryHttpMessageHandlerTests.cs
  test/Sentry.Tests/SentrySdkTests.cs
Labels: ASP.NET Core, enhancement

#783 Automatically start transactions from incoming trace in ASP.NET Core
  CHANGELOG.md
  src/Sentry.AspNetCore/Extensions/HeaderDictionaryExtensions.cs
  src/Sentry.AspNetCore/SentryTracingMiddleware.cs
  src/Sentry/Internal/Hub.cs
  src/Sentry/Transaction.cs
  test/Sentry.AspNetCore.Tests/SentryTracingMiddlewareTests.cs
Labels: ASP.NET Core, enhancement

#788 Fix incorrect NRT on SpanContext.ctor
  CHANGELOG.md
  src/Sentry/SpanContext.cs
Labels: Performance Product, enhancement

#789 Fix DI issues in ASP.NET Core + SentryHttpMessageHandlerBuilderFilter
  CHANGELOG.md
  src/Sentry.AspNetCore/Extensions/DependencyInjection/ServiceCollectionExtensions.cs
  src/Sentry.AspNetCore/SentryHttpMessageHandlerBuilderFilter.cs
  src/Sentry.AspNetCore/SentryMiddleware.cs
  src/Sentry.AspNetCore/SentryTracingMiddleware.cs
  test/Sentry.AspNetCore.Tests/SentryHttpMessageHandlerBuilderFilterTests.cs
  test/Sentry.AspNetCore.Tests/SentryMiddlewareTests.cs
  test/Sentry.AspNetCore.Tests/SentryTracingMiddlewareTests.cs
Labels: ASP.NET Core, bug

#791 Set default tracing sample rate to 0.0
  CHANGELOG.md
  src/Sentry/SentryOptions.cs
Labels: Performance Product, Sentry

#790 Remove the `Evaluate` error from the breadcrumb list
  CHANGELOG.md
  src/Sentry/Scope.cs
  test/Sentry.Testing/InMemoryDiagnosticLogger.cs
  test/Sentry.Tests/Internals/Http/HttpTransportTests.cs
  test/Sentry.Tests/Protocol/ScopeExtensionsTests.cs
  test/Sentry.Tests/ScopeTests.cs
Labels: Sentry, enhancement

#802 Create spans for outgoing HTTP requests
  CHANGELOG.md
  src/Sentry.AspNetCore/SentryTracingMiddleware.cs
  src/Sentry/SentryHttpMessageHandler.cs
  src/Sentry/SpanStatus.cs
  test/Sentry.Tests/SentryHttpMessageHandlerTests.cs
Labels: Performance Product, Sentry, enhancement

#796 Add SetFingerprint overload that takes `params string[]`
  CHANGELOG.md
  src/Sentry/IEventLike.cs
Labels: Sentry, enhancement

#806 Finish span on exception in SentryHttpMessageHandler
  CHANGELOG.md
  src/Sentry/SentryHttpMessageHandler.cs
Labels: Performance Product, Sentry, enhancement

#795 Consolidate logic for resolving hub
  CHANGELOG.md
  src/Sentry.AspNetCore/ApplicationBuilderExtensions.cs
  src/Sentry.Extensions.Logging/Extensions/DependencyInjection/ServiceCollectionExtensions.cs
  src/Sentry.Extensions.Logging/SentryLoggerFactoryExtensions.cs
  src/Sentry/Internal/Hub.cs
  src/Sentry/Internal/OptionalHub.cs
  src/Sentry/SentrySdk.cs
  test/Sentry.Tests/Internals/OptionalHubTests.cs
  test/Sentry.Tests/SentrySdkTests.cs
Labels: ASP.NET Core, bug

#807 Fix ObjectDisposedException caused by object reuse in RetryAfterHandler
  CHANGELOG.md
  src/Sentry/Internal/Http/RetryAfterHandler.cs
  test/Sentry.Tests/Internals/Http/RetryAfterHandlerTests.cs
Labels: Sentry, bug

#797 Don't add logs coming from Sentry as breadcrumbs
  CHANGELOG.md
  src/Sentry.Extensions.Logging/MelDiagnosticLogger.cs
  src/Sentry.Extensions.Logging/SentryLogger.cs
  test/Sentry.Extensions.Logging.Tests/SentryLoggerTests.cs
Labels: Sentry, bug

#808 Ignore warning nca3.0
  Directory.Build.props
Labels: Repository maintenance

#810 Fix transaction sampling
  CHANGELOG.md
  src/Sentry/Internal/Hub.cs
  test/Sentry.Tests/HubTests.cs
Labels: Performance Product, Sentry, bug

#811 Add tests for event sampling too
  test/Sentry.Tests/SentryClientTests.CaptureEvent_BeforeEventThrows_ErrorToEventBreadcrumb.verified.txt
  test/Sentry.Tests/SentryClientTests.cs
Labels: Repository maintenance, Sentry

#813 Fix tracing middleware
  CHANGELOG.md
  src/Sentry.AspNetCore/SentryTracingMiddleware.cs
Labels: ASP.NET Core, Performance Product, bug

#820 Ref: replace IncludeRequestPayload on Samples
  samples/Sentry.Samples.AspNetCore.Grpc/appsettings.json
  samples/Sentry.Samples.AspNetCore.Mvc/appsettings.json
  samples/Sentry.Samples.AspNetCore.Serilog/appsettings.json
  samples/Sentry.Samples.AspNetCore5.Mvc/appsettings.json
  src/Sentry.AspNetCore/PublicAPI.Shipped.txt
Labels: ASP.NET Core, samples

#821 Fix: Disable Ben.Demystifier for UWP by default.
  CHANGELOG.md
  src/Sentry/SentryOptions.cs
Labels: UWP, bug

#816 Validate DI in all ASP.NET Core tests
  test/Sentry.AspNetCore.Tests/AspNetSentrySdkTestFixture.cs
  test/Sentry.AspNetCore.Tests/SentryHttpMessageHandlerBuilderFilterTests.cs
  test/Sentry.AspNetCore.Tests/SentryTracingMiddlewareTests.cs
  test/Sentry.AspNetCore.Tests/Utils/Extensions/DependencyContainerExtensions.cs
  test/Sentry.AspNetCore.Tests/Utils/FakeSentryServer.cs
Labels: ASP.NET Core, Repository maintenance

#815 Fix caching transaction serialization
  CHANGELOG.md
  samples/Sentry.Samples.Console.Basic/Sentry.Samples.Console.Basic.csproj
  src/Sentry/Internal/Http/CachingTransport.cs
  src/Sentry/Transaction.cs
  test/Sentry.Tests/Protocol/SentryEventTests.cs
  test/Sentry.Tests/Protocol/TransactionTests.cs
Labels: Performance Product, Xamarin, bug

#834 feat: Additional filters to Exception Data
  CHANGELOG.md
  src/Sentry/Internal/MainExceptionProcessor.cs
  src/Sentry/SentryExceptionExtensions.cs
  test/Sentry.Tests/Internals/MainExceptionProcessorTests.cs
Labels: enhancement
