Repository getsentry/sentry-dotnet, pull requests merged in 2021-01, with the labels that each got.

#709 ref: Disable Mono StackTrace Factory.
  CHANGELOG.md
  src/Sentry/SentryOptions.cs
  test/Sentry.Tests/SentryOptionsTests.cs
Labels: Xamarin, enhancement

#705 Limit attachment size
  CHANGELOG.md
  src/Sentry/Internal/Extensions/HttpClientExtensions.cs
  src/Sentry/Internal/Extensions/StreamExtensions.cs
  src/Sentry/Internal/Http/HttpTransport.cs
  src/Sentry/Internal/Polyfills.cs
  src/Sentry/Protocol/Attachment.cs
  src/Sentry/Protocol/Envelopes/EnvelopeItem.cs
  src/Sentry/Protocol/FileAttachmentContent.cs
  src/Sentry/Protocol/IAttachmentContent.cs
  src/Sentry/Protocol/StreamAttachmentContent.cs
  src/Sentry/ScopeExtensions.cs
  src/Sentry/SentryOptions.cs
  test/Sentry.Testing/RandomExtensions.cs
  test/Sentry.Tests/Internals/Http/HttpTransportTests.cs
  test/Sentry.Tests/Protocol/Envelopes/EnvelopeTests.cs
  test/Sentry.Tests/Protocol/ScopeExtensionsTests.cs
Labels: Sentry, bug

#737 Separate tracing middleware
  CHANGELOG.md
  samples/Sentry.Samples.AspNetCore.Basic/Program.cs
  src/Sentry.AspNetCore/SentryMiddleware.cs
  src/Sentry.AspNetCore/SentryTracingMiddleware.cs
  src/Sentry/Internal/Hub.cs
  test/Sentry.AspNetCore.Tests/SentryTracingMiddlewareTests.cs
Labels: ASP.NET Core, bug

#740 Sync transaction and transaction name on scope
  CHANGELOG.md
  src/Sentry/Scope.cs
  test/Sentry.Tests/ScopeTests.cs
Labels: Sentry

#744 Ref: Add instruction_addr to SentryStackFrame
  CHANGELOG.md
  src/Sentry/Protocol/Exceptions/SentryStackFrame.cs
  test/Sentry.Tests/Protocol/Exceptions/SentryStackFrameTests.cs
Labels: enhancement

#745 Only include latest release notes on NuGet
  CHANGELOG.md
  src/Directory.Build.props
Labels: Repository maintenance

#741 Bring Transaction a bit more inline with the design guidelines
  CHANGELOG.md
  src/Sentry.AspNetCore/SentryTracingMiddleware.cs
  src/Sentry/Extensibility/DisabledHub.cs
  src/Sentry/Extensibility/HubAdapter.cs
  src/Sentry/HubExtensions.cs
  src/Sentry/IHub.cs
  src/Sentry/Internal/Hub.cs
  src/Sentry/Protocol/Context/Trace.cs
  src/Sentry/Protocol/Envelopes/Envelope.cs
  src/Sentry/Protocol/IEventLike.cs
  src/Sentry/Protocol/IHasExtra.cs
  src/Sentry/Protocol/IHasTags.cs
  src/Sentry/Protocol/ISpan.cs
  src/Sentry/Protocol/ISpanContext.cs
  src/Sentry/Protocol/ITransaction.cs
  src/Sentry/Protocol/Span.cs
  src/Sentry/Protocol/SpanId.cs
  src/Sentry/Protocol/SpanRecorder.cs
  src/Sentry/Protocol/Transaction.cs
  src/Sentry/Scope.cs
  src/Sentry/ScopeExtensions.cs
  src/Sentry/SentryClient.cs
  src/Sentry/SentryOptions.cs
  src/Sentry/SentrySdk.cs
  test/Sentry.AspNetCore.Tests/SentryMiddlewareTests.cs
  test/Sentry.Tests/HubTests.cs
  test/Sentry.Tests/Protocol/Context/TraceTests.cs
  test/Sentry.Tests/Protocol/TransactionTests.cs
  test/Sentry.Tests/ScopeTests.cs
  test/Sentry.Tests/SentryClientTests.cs
Labels: Sentry

#758 Integrate trace headers
  CHANGELOG.md
  src/Sentry/Extensibility/DisabledHub.cs
  src/Sentry/Extensibility/HubAdapter.cs
  src/Sentry/HubExtensions.cs
  src/Sentry/IHub.cs
  src/Sentry/ISentryClient.cs
  src/Sentry/Internal/Hub.cs
  src/Sentry/Protocol/Envelopes/Envelope.cs
  src/Sentry/Protocol/Envelopes/EnvelopeItem.cs
  src/Sentry/Protocol/IJsonSerializable.cs
  src/Sentry/Protocol/ISpan.cs
  src/Sentry/Protocol/ITransaction.cs
  src/Sentry/Protocol/SentryTraceHeader.cs
  src/Sentry/Protocol/Span.cs
  src/Sentry/Protocol/Transaction.cs
  src/Sentry/Protocol/TransactionContext.cs
  src/Sentry/Scope.cs
  src/Sentry/SentryClient.cs
  src/Sentry/SentryHttpMessageHandler.cs
  src/Sentry/SentrySdk.cs
  test/Sentry.Testing/HttpClientExtensions.cs
  test/Sentry.Tests/HubTests.cs
  test/Sentry.Tests/Protocol/SentryTraceHeaderTests.cs
  test/Sentry.Tests/ScopeTests.cs
  test/Sentry.Tests/SentryClientTests.cs
  test/Sentry.Tests/SentryHttpMessageHandlerTests.cs
Labels: Sentry, enhancement

#763 Add additional data to transactions
  CHANGELOG.md
  src/Sentry/Internal/Hub.cs
  src/Sentry/Protocol/ITransaction.cs
  src/Sentry/Protocol/Transaction.cs
  test/Sentry.Tests/HubTests.cs
Labels: Sentry, enhancement

#765 Add Release property to Scope and move it to IEventLike
  CHANGELOG.md
  src/Sentry/Protocol/IEventLike.cs
  src/Sentry/Protocol/ITransaction.cs
  src/Sentry/Protocol/SentryEvent.cs
  src/Sentry/Scope.cs
  src/Sentry/SentryOptions.cs
Labels: Sentry, enhancement

#766 Improve transaction instrumentation on ASP.NET Core
  CHANGELOG.md
  src/Sentry.AspNetCore/Extensions/HttpContextExtensions.cs
  src/Sentry.AspNetCore/SentryTracingMiddleware.cs
  test/Sentry.AspNetCore.Tests/SentryTracingMiddlewareTests.cs
Labels: ASP.NET Core, enhancement

#769 Refactor last PR
  CHANGELOG.md
  src/Sentry.AspNetCore/Extensions/HttpContextExtensions.cs
  src/Sentry.AspNetCore/ScopeExtensions.cs
  src/Sentry.AspNetCore/SentryTracingMiddleware.cs
Labels: ASP.NET Core
