Repository getsentry/sentry-dotnet, pull requests merged in 2022-05, with the labels that each got.

#1556 Add Client Reports feature
  CHANGELOG.md
  src/Sentry/Envelopes/Envelope.cs
  src/Sentry/Envelopes/EnvelopeItem.cs
  src/Sentry/Http/HttpTransportBase.cs
  src/Sentry/Internal/BackgroundWorker.cs
  src/Sentry/Internal/ClientReport.cs
  src/Sentry/Internal/ClientReportRecorder.cs
  src/Sentry/Internal/DataCategory.cs
  src/Sentry/Internal/DiscardReason.cs
  src/Sentry/Internal/DiscardReasonWithCategory.cs
  src/Sentry/Internal/Enumeration.cs
  src/Sentry/Internal/Extensions/ClientReportExtensions.cs
  src/Sentry/Internal/Extensions/JsonExtensions.cs
  src/Sentry/Internal/Http/CachingTransport.cs
  src/Sentry/Internal/IClientReportRecorder.cs
  src/Sentry/Internal/ThreadsafeCounterDictionary.cs
  src/Sentry/IsExternalInit.cs
  src/Sentry/SentryClient.cs
  src/Sentry/SentryOptions.cs
  test/Sentry.DiagnosticSource.Tests/ApiApprovalTests.Run.Core3_1.verified.txt
  test/Sentry.DiagnosticSource.Tests/ApiApprovalTests.Run.DotNet5_0.verified.txt
  test/Sentry.DiagnosticSource.Tests/ApiApprovalTests.Run.DotNet6_0.verified.txt
  test/Sentry.Testing/FakeTransport.cs
  test/Sentry.Testing/FakeTransportWithRecorder.cs
  test/Sentry.Tests/ApiApprovalTests.Run.Core2_1.verified.txt
  test/Sentry.Tests/ApiApprovalTests.Run.Core3_0.verified.txt
  test/Sentry.Tests/ApiApprovalTests.Run.Core3_1.verified.txt
  test/Sentry.Tests/ApiApprovalTests.Run.DotNet4_6.verified.txt
  test/Sentry.Tests/ApiApprovalTests.Run.DotNet5_0.verified.txt
  test/Sentry.Tests/ApiApprovalTests.Run.DotNet6_0.verified.txt
  test/Sentry.Tests/Internals/BackgroundWorkerTests.cs
  test/Sentry.Tests/Internals/ClientReportRecorderTests.cs
  test/Sentry.Tests/Internals/ClientReportTests.cs
  test/Sentry.Tests/Internals/Http/CachingTransportTests.cs
  test/Sentry.Tests/Internals/Http/HttpTransportTests.cs
  test/Sentry.Tests/Internals/ThreadsafeCounterDictionaryTests.cs
  test/Sentry.Tests/SentryClientTests.cs
Labels: enhancement, Impact: Large, Effort: Large, Platform: .NET

#1643 Remove HTML from readme files
  README.md
  src/Sentry.DiagnosticSource/README.md
Labels: Repository maintenance

#1665 re add exception filters
  src/Sentry/GlobalSessionManager.cs
  src/Sentry/Internal/BackgroundWorker.cs
  src/Sentry/Internal/Http/CachingTransport.cs
Labels: enhancement

#1663 Initial MAUI support
  .github/workflows/build.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Sentry.sln
  SentryCore.slnf
  SentryLinux.slnf
  SentryMac.slnf
  SentryMaui.slnf
  SentryNoSamples.slnf
  SentryWindows.slnf
  samples/Directory.Build.props
  samples/Sentry.Samples.Maui/App.xaml
  samples/Sentry.Samples.Maui/App.xaml.cs
  samples/Sentry.Samples.Maui/AppShell.xaml
  samples/Sentry.Samples.Maui/AppShell.xaml.cs
  samples/Sentry.Samples.Maui/MainPage.xaml
  samples/Sentry.Samples.Maui/MainPage.xaml.cs
  samples/Sentry.Samples.Maui/MauiProgram.cs
  samples/Sentry.Samples.Maui/Platforms/Android/AndroidManifest.xml
  samples/Sentry.Samples.Maui/Platforms/Android/MainActivity.cs
  samples/Sentry.Samples.Maui/Platforms/Android/MainApplication.cs
  samples/Sentry.Samples.Maui/Platforms/Android/Resources/values/colors.xml
  samples/Sentry.Samples.Maui/Platforms/MacCatalyst/AppDelegate.cs
  samples/Sentry.Samples.Maui/Platforms/MacCatalyst/Info.plist
  samples/Sentry.Samples.Maui/Platforms/MacCatalyst/Program.cs
  samples/Sentry.Samples.Maui/Platforms/Windows/App.xaml
  samples/Sentry.Samples.Maui/Platforms/Windows/App.xaml.cs
  samples/Sentry.Samples.Maui/Platforms/Windows/Package.appxmanifest
  samples/Sentry.Samples.Maui/Platforms/Windows/app.manifest
  samples/Sentry.Samples.Maui/Platforms/iOS/AppDelegate.cs
  samples/Sentry.Samples.Maui/Platforms/iOS/Info.plist
  samples/Sentry.Samples.Maui/Platforms/iOS/Program.cs
  samples/Sentry.Samples.Maui/Properties/launchSettings.json
  samples/Sentry.Samples.Maui/Resources/AppIcon/appicon.svg
  samples/Sentry.Samples.Maui/Resources/AppIcon/appiconfg.svg
  samples/Sentry.Samples.Maui/Resources/Fonts/OpenSans-Regular.ttf
  samples/Sentry.Samples.Maui/Resources/Fonts/OpenSans-Semibold.ttf
  samples/Sentry.Samples.Maui/Resources/Images/dotnet_bot.svg
  samples/Sentry.Samples.Maui/Resources/Raw/AboutAssets.txt
  samples/Sentry.Samples.Maui/Resources/Splash/splash.svg
  samples/Sentry.Samples.Maui/Resources/Styles/Colors.xaml
  samples/Sentry.Samples.Maui/Resources/Styles/Styles.xaml
  samples/Sentry.Samples.Maui/Sentry.Samples.Maui.csproj
  samples/Sentry.Samples.Maui/global.json
  src/Directory.Build.props
  src/Sentry.Maui/Properties/AssemblyInfo.cs
  src/Sentry.Maui/Sentry.Maui.csproj
  src/Sentry.Maui/SentryMauiAppBuilderExtensions.cs
  src/Sentry.Maui/SentryMauiInitializer.cs
  src/Sentry.Maui/SentryMauiOptions.cs
  src/Sentry.Maui/SentryMauiOptionsSetup.cs
  src/Sentry.Maui/global.json
  test/Sentry.Maui.Tests/Sentry.Maui.Tests.csproj
  test/Sentry.Maui.Tests/SentryMauiAppBuilderExtensionsTests.cs
  test/Sentry.Maui.Tests/global.json
Labels: MAUI
